<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Map Route
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    
  <ion-card>
    <ion-card-content>
        <div #directionsPanel></div>
    </ion-card-content>
</ion-card>
<button ion-button round (click)="btn_GoTotarget()">Przenieś do Celu</button>
<button ion-button round (click)="LoadStorage()">Load Storage</button>
<div #map id="map" style="height:100%"></div>
</ion-content>